<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn.sanity.io/images/v48q37k7/production/d09208183125ab47493d5de2f8710b6faa27d7cc-3000x2000.jpg" alt="Card image cap">
  <div class="card-body">
    <div>
      <h5 class="card-title"><%= flat.name %></h5>
      <p class="card-text"><%= flat.address %></p>
      <div class="d-flex gap-3">
        <div>
          <i class="fa-solid fa-person"></i>
          <%= flat.number_of_guests %>
        </div>
        <div>
          <i class="fa-solid fa-euro-sign"></i>
          <%= flat.price_per_night %>
        </div>
      </div>
    </div>
    <div class="d-flex bg-light">

    </div>
  </div>
</div>
