<div class="banner">
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card-infos">
        <h1><%= @flat.name %></h1>
        <p><%= @flat.address %></p>
      </div>
      <div class="map-container">
        <h3>A bit more about this flat</h3>
        <p><%= @flat.description %></p>
        <div class="map">
          <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/pass/GoogleMapTA.jpg" alt="map">
        </div>
      </div>
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>
